body {
    font-family: Arial, sans-serif;
    background-image: url(restaurante.jpg);
    color:#fa0303;
    background-repeat: no-repeat;
    background-size: 1280px ;
 
    
}
.container {
    max-width: 400px;
    margin: 0 auto;
    background-image: url(restaurante.jpg)
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="Contato"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}
input[type="text"], input[type="endereço"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}